.book-card-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20vh;
}

.book-card {
	position: relative;
	width: 250px;
	height: 400px;
	margin: 20px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	overflow: hidden;
	flex-grow: 1;
	margin: 20px 10px;
	min-width: 250px;
}

.book-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: white;
	padding: 10px;
	opacity: 0;
	transition: opacity 0.3s;
}

.book-card:hover .book-info {
	opacity: 1;
}

.book-title {
	font-weight: bold;
	font-size: 18px;
}

.book-actions {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.add-book-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-decoration: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.add-book-btn:hover {
	text-decoration: none;
}

.catalog-container {
	padding: 20px;
	border-radius: 5px; /* Arrotonda gli angoli del riquadro */
	position: fixed;
	/* Nuova proprietà per espandere il riquadro su tutta la pagina */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto; /* Aggiunto per gestire lo scrolling del contenuto */
	margin-top: 60px;
	/* Nuova proprietà per spostare il riquadro sotto la navbar. Modifica questo valore in base all'altezza della tua navbar */
}

.icon-white {
	filter: invert(1); /* Inverte i colori dell'immagine */
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 20px;
}

.icon-white:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 20px;
}

.book-details-container {
	padding: 20px;
	border-radius: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	margin-top: 60px;
}

.book-details {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.book-title-details {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.book-cover {
	width: 40%;
	max-width: 300px;
	margin-right: 20px;
}

.book-info-details {
	width: 50%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.back-to-books-icon {
	margin-right: 5px;
}

.back-to-books-btn {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 20px;
}

.similar-book {
	position: relative;
}

.carousel-caption {
	bottom: 60%;
	left: 0;
	right: 0;
	transform: translateY(50%);
	padding: 10px;
	border-radius: 5px;
}

.book-actions-details {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.carousel-item img.d-block {
	max-width: 30%;
	/* Ridimensiona l'immagine del carousel al 60% della sua larghezza originale */
	max-height: 30%;
	/* Ridimensiona l'immagine del carousel al 60% della sua altezza originale */
	margin: 0 auto; /* Centra l'immagine del carousel orizzontalmente */
}

.carousel-item {
	max-height: 200px;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form-box {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 400px;
}

.nes-field {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

body {
	background-image:
		url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
	background-size: cover;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.navbar {
	height: 60px;
}

a:hover {
	text-decoration: none;
}

.btn-login {
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
}

.btn-login:hover {
	text-decoration: none;
}

.search-box {
	margin-right: 1rem;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

html {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.error-popup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	font-size: 17px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.header-card {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
	text-align: center;
	height: 20vh;
}

.book-cover {
	width: auto;
	height: 100%;
	padding: 5px;
}

.hidden {
	display: none;
}

.text-black {
	color: black;
}