<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <meta charset="UTF-8">  
    <title>Edit Book</title>  
</head>  
<body>  
    <h1>Edit Book</h1>  
    <form th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}" method="post">  
         <input type="hidden" th:field="*{id}" />  
        <div class="nes-field">  
            <label for="title">Title:</label>  
            <input type="text" id="title" class="nes-input" th:field="*{title}" />  
        </div>  
        <div class="nes-field">  
            <label for="author">Author:</label>  
            <input type="text" id="author" class="nes-input" th:field="*{author}" />  
        </div>  
        <div class="nes-field">  
            <label for="year">Year:</label>  
            <input type="text" id="publicationYear" class="nes-input" th:field="*{publicationYear}" />  
        </div>  
        <div class="nes-field"> <!-- Aggiungi questo campo per l'URL dell'immagine di copertina -->  
            <label for="imageUrl">Cover Image URL:</label>  
            <input type="text" id="imageUrl" class="nes-input" th:field="*{imageUrl}" />  
        </div>
        <div class="nes-field">
            <label for="genre">Genre:</label>  
            <input type="text" id="genre" class="nes-input" th:field="*{genre}" />  
        </div> 
        <button type="submit">Update Book</button>  
    </form>  
    <a href="/books">Back to Books</a>  
</body>  
</html>  
