<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <meta charset="UTF-8">  
    <title>Edit Book</title>  
</head>  
<body>  
    <h1>Edit Book</h1>  
    <form th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}" method="post">  
        <input type="hidden" name="id" th:value="${book.id}">  
        <label for="title">Title:</label>  
        <input type="text" id="title" name="title" th:value="${book.title}" required>  
        <br>  
        <label for="author">Author:</label>  
        <input type="text" id="author" name="author" th:value="${book.author}" required>  
        <br>  
        <label for="genre">Genre:</label>  
        <input type="text" id="genre" name="genre" th:value="${book.genre}" required>  
        <br>  
        <label for="publicationYear">Publication Year:</label>  
        <input type="number" id="publicationYear" name="publicationYear" th:value="${book.publicationYear}">  
        <br>  
        <button type="submit">Update Book</button>  
    </form>  
    <a href="/books">Back to Books</a>  
</body>  
</html>  
