<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <meta charset="UTF-8"/>  
    <title th:insert="~{::title}">Library App</title>  
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" /> <!-- Aggiungi questa riga -->  
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>  
</head>  
<body>  
    <div class="container">  
        <div th:replace="layout::header"></div>  
        <div th:replace="layout::menu"></div>  
        <div th:insert="~{::content}"></div>  
    </div>  
</body>  
</html> 